<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DANFISHEL</title>
    </head>


<body>
<h2>WELCOME TO DANFISHEL LOGIN</h2>
<form method="POST">
Enter UserName:<input class="form-control" placeholder="UserName" name="username" type="text" aria-label="First name">
<br><br><br>
Enter Password:<input class="form-control" placeholder="Password" name="password" type="Password" aria-label="Last name">
<br><br><br>
<input type="Submit" class="btn btn-info btn-lg ">

<label>
    {{data}}
</label>
</form>
</br>

    Don't have an account?<a href="/register">Register</a>

</body>

</html>