<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Disease Detection</title>
</head>

<body>


    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">LOGGED IN</a>
			<h2>You have successfully logged on to the system :)</h2>

        </div>
    </nav>
	</div>		

    {% block content %}
    {% endblock %}

</body>

</html>