<html>


<br><h2>REGISTER TO DANFISHEL</h2><br>

    <form  method="post">
        Name:<input class="form-control" placeholder="Name" name="name"><br><br>
        Email:<input class="form-control" placeholder="Your Email Address" name="useremail"><br><br>
        contact:<input class="form-control" placeholder="contact" name="contact"><br><br>    
        User Name:<input class="form-control" placeholder="Desired Username" name="DUsername"><br><br>
		Password:<input class="form-control" placeholder="Desired Password" name="DPassword" type="Password"><br><br><br>
		
		 <div>
            <button type="Submit" class="btn-lg">
                Submit
            </button>
         </div>
        
    </form>


    
         
    
	</div>
    </html>


    
